body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; 
}

.container {
  padding-left: 2px;
}

header {
  background-color: #4a4747; 
  text-align: center;
  padding: 20px;
}

main {
  padding: 30px;
}

section {
  margin-bottom: 30px;
}

h1, h2, h3, p, a {
  margin: 0;
  padding: 0;
}

a {
  color: #f5f3f3; 
  text-decoration: none;
}

.hero {
  text-align: center;
}

.hero img {
  width: 100%;
  height: 400px;
}  

.card {
  width: 18rem; 
  margin-bottom: 20px; 
}

.card-img-top {
  max-height: 200px; 
  object-fit: cover;
}

.btn-primary {
  width: 100%; 
}

.container {
  margin-left: 30px;
}

.orders {
  position: fixed;
  top: 100px;
  right: 1px;
  width: 400px;
  background-color: #343a40;
  color: white;
}

.orders h2 {
  text-align: left;
}

.orders ul {
  list-style-type: none;
  padding: 0;
}

.orders li {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 10px;
}

.orders h4 {
  text-align: right;
}
