{% extends 'food/base.html' %}

{% load static %} 

{% block title %} entrees {% endblock %}

{% block content %}
    <div class="container" style="margin-left: 30px;">
        <div class="row">
            {% for entree in entrees %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ entree.image_url }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" id="entree{{entree.id}}">{{ entree.name }}</h5>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="entree{{entree.id}}" type="radio" value="{{entree.price}}"></input>
                                    Price: $ {{ entree.price }}
                                </label>
                            </div>
                            <p class="card-text">{{ entree.stock }}</p>
                            <form action="{% url 'entreeCart' %}" method="post">
                                {% csrf_token %}
                                <input class="btn btn-primary add-to-cart-btn" type="submit" value="Add to cart" data-name="{{ entree.name }}" data-price="{{ entree.price }}">
                                <input type="hidden" value="{{entree.id}}" name="entree_id">
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %} 
        </div>
    </div>
    
    <div class="container-fluid" style="position: fixed; top: 80px; right: 1px; width: 400px; background-color: #343a40; color: white;">
        <div class="col-md-4 orders">
            <div class="text-light p-4">
                <h2 class="text-center">Order List</h2>
                <ul id="Ecart"></ul>
                <h4 class="text-right" id="Etotal">Total: $ 0</h4>
                <form action="{% url 'order' %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Check Out">
                    <input type="hidden" value="{{ cart.id }}" name="cart_id">
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="{% static 'Eorder.js' %}"></script>
{% endblock %}
