{% extends 'food/base.html' %}
{% load static %}

{% block title %} Order {% endblock %}

{% block content %}
<div class="container-fluid m-4">
    <div class="row">
        <div class="col-md-7 text-center">
            <h1>Customer Order</h1>
            <div class="row">
                <div class="col-md-4" id="ordered-items">
                    <h2>Selected Items</h2>
                    <ul>
                        {% for item in selected_items %}
                        <li>{{ item.name }} - ${{ item.price }}</li>
                        {% endfor %}
                    </ul>
                    <h2>Total Price: ${{ total_price }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-5 mt-4">
            <h2> Feedback</h2>
            <textarea name="message" id="" cols="40" rows="5"></textarea>
            <div class="ml-auto m-4">
                <button type="submit" class="btn btn-success btn-sm" style="width: 15%;">Submit</button>
            </div>
        </div>
    </div>
    <!-- Place Your Order button -->
    <div class="row mt-4">
        <div class="col-md-7">
            <button type="submit" class="btn btn-success btn-sm" style="width: 40%;">Place Your Order</button>
        </div>
    </div>
</div>
{% endblock %}
